@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Lufga', sans-serif;
  margin:0;
  background-color: #191A23;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}